.titulo
{
 text-align: center;
font-size: 50px;
}
.subtitulo
{
    text-align: left;
    padding-left: 20px;
}
.parrafo
{
    text-align: left;
    padding-left: 20px; 
    text-align: justify;
    padding-right: 30px; 
}
.videos
{
    margin-top:  10px;
    margin-left: 400px;
}